.buttonAdd{
    
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.titulo{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cabeceraTabla{
    width: 90%;
    padding-left: 20rem;
}

.botonesVarios{
    
}